<% if turn.current_player[:team] == team %>
  <div class="other-text <%= team %>">
  💡 Try to guess the words!
  </div>
<% else %>
  <div class="other-text other-team">
    It's not your team's turn
  </div>
<% end %>

<h5 class="other-label">Current player:</h5>
<h2><strong><%= turn.current_player[:name] %></strong></h2>

<h5 class="other-label">Current judge:</h5>
<h2><strong><%= turn.current_judge[:name] %></strong></h2>
